.cart-container {
  width: 18.5%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1%;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

.toggle-button {
  margin-bottom: 0px;
  
}

.config-label{
  position: fixed;
  top: 47%;
}

.table {
  width: 100%;
  border-spacing: 2% 0;
}

.table th {
  font-weight: bold;
}

.label-container {
  display: flex;
  align-items: center;
}

.label {
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.amount {
  flex: 1;
  text-align: right;
  font-size: 18px;
  margin-bottom: 2.5%;
}

.right-aligned {
  text-align: right;
}

.currency {
  display: inline-block;
}

.subtotal-container {
  width: 100%;
}

.pay-container {
  position: absolute;
  top: 55%;
  margin-left: 5%;
}

.pay-config {
  width: 100%;
}

.pay-option {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos en ambos extremos */
  width: 100%;
  margin-bottom: 3%;
}

.button-bar {
  display: flex;
  margin-left: 50px;
}

.option-button {
  flex: 1;
  padding: 10px;
  background-color: #fcb74f;
  color: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option-button.active {
  background-color: #0056b3;
  color: #fff;
}

.option-button.selected {
  background-color: #0056b3;
}


.pay-subtotal {
  margin-top: 5%;
}

.pay-label{
  text-align: left;
  font-weight: bold;
  margin: 0; /* Elimina el margen por defecto */
}

.meal-balance{
  flex: 1;
  text-align: right;
  margin-bottom: 5%;
  
}

.pay-order-button {
  background-color: #999891;
  color: #ffffff; 
  border: none;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  bottom: 4%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hr{
  margin-top: 1%;
}




.gif-container {
  display: flex; /* Usa el modelo de caja flexible para alinear elementos en fila */
  align-items: center; /* Alinea verticalmente los elementos en el centro */
  margin-top: 10%;
  margin-bottom: 10%; /* Espaciado inferior entre los contenedores */
  margin-left: 10%;
  
}

.gif {
  width: 30%; /* Tamaño del GIF */
  height: auto; /* Autoajuste de altura */
  margin-left:13%;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.frozen {
  display: none; /* Anula la animación del GIF */
}

/* Estilos para la tabla de seguimiento */
.tracking-table {
  width: 100%; /* Ocupa todo el ancho disponible */
  border-collapse: collapse; /* Combina bordes de celdas adyacentes */
}

/* Estilos para las celdas de encabezado */
.tracking-table th {
  background-color: #f0f0f0; /* Color de fondo para las celdas de encabezado */
  padding: 10px; /* Espaciado interno */
  text-align: center; /* Alineación de texto */
}

/* Estilos para las celdas de datos */
.tracking-table td {
  padding: 10px; /* Espaciado interno */
  border-bottom: 1px solid #ddd; /* Borde inferior */
}

/* Ajustar el ancho de las columnas */
.tracking-table th,
.tracking-table td {
  width: 25%; /* Divide el ancho disponible en 4 columnas */
}

.order-status-container{
  margin-top: 5%;
}
.spaced{
  margin-top: 40%;
}