.portal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle-container {
  display: flex;
}

.circle {
  width: 150px; /* Ajusta el tamaño del círculo */
  height: 150px; /* Ajusta el tamaño del círculo */
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden; /* Recorta la imagen que se desborda del círculo */
}
.circle img {
  width: 100%; /* Hace que la imagen ocupe todo el espacio del círculo */
  height: 100%; /* Hace que la imagen ocupe todo el espacio del círculo */
  object-fit: cover; /* Ajusta la imagen al círculo sin distorsionarla */
}

.restaurant-name {
  text-align: center;
}

@font-face {
  font-family: 'Pacifico';
  src: url('./Pacifico-Regular.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
}
/* Aplicar la fuente a un elemento */
.surf-text {
  position: fixed;
  top: 10%;
  left: 33%;
  font-size:500%;
  font-family: 'Pacifico', cursive;
  color: #ffffff; /* Azul */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  text-decoration: underline;
}

.surf-text::before {
  content: "\00A0"; /* Espacio en blanco invisible para crear espacio para la decoración */
  background-size: 20px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Espacio entre la decoración y el texto */
}

.gif-container-logo {
  display: flex; /* Usa el modelo de caja flexible para alinear elementos en fila */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 10px; /* Espaciado superior entre el texto y el GIF */
  position: relative; /* Establece una posición relativa para el contenedor */
}

.gif-logo {
  width: 8%; /* Ajusta el ancho según sea necesario */
  position: fixed;
  top: 15.5%;
  left: 57%;
  z-index: -1; /* Coloca el logo detrás del texto */
}


